@use './base.scss';

.pro-table {
	// .ellipsis-container{
	//     width: 80%;
	//     overflow: hidden;
	//     white-space: nowrap;
	//     text-overflow: ellipsis;
	// }
	.card {
		padding: 20px;
		border-radius: 3px;
		background-color: #fff;
	}
	.search-bar.expand {
		height: fit-content;
	}
	.toolbar-container {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		.left {
			flex: 1;
			h3 {
				display: flex !important;
				font-weight: 600 !important;
				margin: 0 !important;
			}
		}
		.right {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			.actions {
				margin-left: 12px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			.options {
				display: flex;
				align-items: center;
				.icon {
					cursor: pointer;
					margin-left: 16px;
				}
			}
		}
	}
	.copyable {
		color: var(--el-color-primary);
		cursor: pointer;
		margin-left: 5px;
	}
	.el-alert {
		padding: 10px 14px !important;
		.alert-count {
			color: var(--el-color-primary);
			font-weight: 600;
		}
		&__content {
			padding: 0 !important;
			display: flex !important;
			align-items: center !important;
		}
		&__close-btn {
			color: var(--el-color-primary) !important;
			top: unset !important;
		}
		&__close-btn.is-customed {
			top: unset !important;
		}
	}
	.pagination-container {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
	}
}

.columns-setting-popover {
	.columns-setting-popover-content {
		.el-checkbox__input.is-checked + .el-checkbox__label {
			color: #333333 !important;
		}
		.head {
			padding: 5px 12px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid rgba(0, 0, 0, 0.06);
			.reset-btn {
				color: var(--el-color-primary);
				cursor: pointer;
			}
		}
		.body {
			padding: 6px 12px;
		}
	}
}
