.pro-text {
  width: 100%;
  .icon {
    cursor: pointer;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 5px;
  }
  .icon:not(:last-child) {
    margin-right: 10px;
  }
  .el-text.is-truncated {
    // padding-right: 6px;
  }
  .test {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    --webkit-line-clamp: 2; //line-clamp: 2;
  }
}
