.pro-text {
  width: 100%;
  .icon {
    cursor: pointer;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 5px;
  }
  .icon:not(:last-child) {
    margin-right: 10px;
  }
  .el-text.is-truncated {
    padding-right: 6px;
  }
}
