.el-form.generate-form {
  width: 100%;
  .el-input,
  .el-input-number,
  .el-date-editor.el-input {
    flex: 1 !important;
  }
  .actions-box {
    flex: 1;
    display: grid;
    gap: 10px;
    & > * {
      margin: 0 !important;
    }
  }
}
