:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-button-brand-bg) 30%, #8bc7ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--vp-button-brand-bg) 50%, #8bc7ff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.curtain {
  background-color: unset !important;
}

.VPSidebar {
  padding-left: 32px !important;
  width: unset !important;
  background-color: unset !important;
}

.VPNavBar.has-sidebar > .container > .title {
  width: var(--vp-sidebar-width) !important;
  padding-left: 32px !important;
}

.VPNavBar.has-sidebar .content {
  padding-right: 32px !important;
  padding-left: var(--vp-sidebar-width) !important;
}

.VPNavBar.has-sidebar .content .VPNavBarSearch {
  display: flex;
  justify-content: center;
}

.VPNavBar.has-sidebar .content .VPNavBarSearch > #docsearch {
  width: 30% !important;
}

.VPNavBar.has-sidebar .content .VPNavBarSearch > #docsearch .DocSearch.DocSearch-Button {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.VPContent.has-sidebar {
  padding-left: unset !important;
  padding-right: unset !important;
}

.container > .content {
  padding-left: unset !important;
}

.content-container {
  max-width: unset !important;
  margin-right: unset !important;
}

/* .content-container > .main {
  padding: 30px;
  border-radius: 12px;
  background-color: var(--vp-c-bg-soft);
} */

.vp-doc table {
  display: table;
  width: 100%;
}

@media (max-width: 960px) {
  .VPNavBar.has-sidebar {
    padding: 0 !important;
  }
  .content-container {
    margin-left: 0 !important;
  }
}

@media (min-width: 960px) {
  .content-container {
    margin-left: var(--vp-sidebar-width) !important;
  }
}
