@use 'element-plus/theme-chalk/src/input.scss';
@use 'element-plus/theme-chalk/src/space.scss';
@use 'element-plus/theme-chalk/src/text.scss';
@use 'element-plus/theme-chalk/src/input-number.scss';

.pro-field-password__read-status-text {
	display: flex;
}

.pro-field-password__view-hide-switch {
	display: flex;
	cursor: pointer;
}
