.el-form.generate-form {
  width: 100%;
  .el-row {
    row-gap: 18px;
  }
  .el-col > .el-form-item {
    margin-bottom: 0;
  }
  .el-form-item__content {
    line-height: unset;
  }
  .el-input,
  .el-input-number,
  .el-date-editor.el-input {
    flex: 1 !important;
  }
  .submitter-box {
    flex: 1;
    display: grid;
    gap: 10px;
    & > * {
      margin: 0 !important;
    }
  }
}
