@use "element-plus/theme-chalk/src/avatar.scss";
@use "element-plus/theme-chalk/src/upload.scss";

.el-upload-list {
  // height: 0 !important;
  // margin: 0;
  // display: none !important;
}

.el-upload-list--picture {
  display: none;
}

.badge {
  position: relative;
  .gender-icon {
    position: absolute;
    top: calc(var(--icon-size) / 2);
    right: -5%;
  }
  .gender-icon.female {
    transform: rotate(50deg);
  }
}
